*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}

body{
    color: #263138;
    background-color: #eee;
}

.cabecalho{
    background-color: rgb(101, 144, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.cabecalho a{
    color: white;
    font-weight: bold;
    box-sizing: border-box; 
    text-decoration: none;
}

.cabecalho img{
    width: 150px;
}

.menu {
    flex-wrap: wrap;
    display: flex;
    list-style: none
}

.menu a {
    padding: 10px 20px; /* Define um padding padrão */
    border-radius: 15px; /* Adiciona bordas arredondadas, opcional */
    box-sizing: border-box; /* Garante que o padding seja incluído na largura e altura do elemento */
    font-size: 20px;
}

.menu a:hover{
    color:blue;
    background-color: #FFF;
    border: 1px solid blue;
}

.menu-hamburguer{
    display: none;
}

#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px;
    position: relative;
    width: 100%;
}

h1,
h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
    color: blue;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 80px;
}

.botao {
    background-color: rgb(101, 144, 224);
    border-radius: 8px;
    padding: 24px 32px;
    color: #fff;
    text-decoration: none;
}

.botao:hover{
    background-color: blue;
}

.botao-transparente{
    background-color: transparent;
    color: rgb(101, 144, 224);
    border-radius: 8px;
    padding: 24px 32px;
    text-underline-offset: 4px;
}

.botao-transparente:hover{
    color: blue;
    border: solid 1px blue;
}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    width: 100%;
    z-index: -10;
}

#clinica{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px;
}

#clinica li{
    margin: 0 0 16px 32px;
}

#farmacia{
    padding: 64px 80px;
    text-align: center;
}

#farmacia img{
  margin: 64px auto;  
  border-radius: 15px;
}

#farmacia .paragrafo{
    max-width: 950px;
    margin: 0 auto;
}

#duvidas{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida{
    position: relative;
}

#duvidas img{
    border-radius: 15px;
}

.duvida h3{
    border: solid 2px rgb(101, 144, 224);
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
    background-color: #FFF;
}

.duvida img{    
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo{
    border: 1px solid rgb(101, 144, 224);
    border-top: none;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .8s;
}

.duvida.ativo  .paragrafo {
    padding: 24px;
    opacity: 1;
    height: fit-content;
    background-color: #FFF;
    
}

footer{
    background-color: rgba(101, 144, 224, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer img,
footer .titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

.rodape nav {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    gap: 16px; /* Espaço entre os itens */
}

.rodape nav a {
    color: #263138;
    text-decoration: none;
    font-size: 16px;
}

.rodape nav a:hover{
    color: blue;
    font-weight: 500;
}

footer p{
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a,
#copyright a{
    color: blue;
    text-decoration: none;
}

#copyright{
    background-color: #263138;
    color: #fff;
    padding: 24px;
    text-align: center;
}
